* {
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 2em;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
	outline: transparent;
}

::-webkit-scrollbar {
	display: none;
}

body {
	max-width: 1440px;
	margin: 0;
	padding: 0;
}

.listShadow {
	margin: 0 !important; 
	padding: 0 !important;
	border: 0 !important;
	width: 50px;
	height: 442px;
	background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.065));
	position: absolute;
	right: 0;
	z-index: 10;

}

.details-card {
	flex: 0 !important;
}

/* Video Player */

.video-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;


}


.player {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}